{% load static %}

<!DOCTYPE html>
<html lang="{{ language|default:"en" }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title|default:"Calls site" }}</title>
    <link rel="stylesheet" href="{% static 'calls/styles/styles.css' %}?{% now "SHORT_DATETIME_FORMAT" %}">
    <script src="{% static 'calls/js/call_offers.js' %}" defer></script>
    {% block head %}{% endblock head %}
  </head>
  <body>
    <header class="header"></header>
    <main>
    {% block content %}{% endblock content %}
    </main>

    <div class="notify">
      <p class="notify__text"></p>
    </div>

    <div class="dialog">
      <p class="dialog__text"></p>
      <div class="dialog__buttons">
        <button class="dialog__yes" type="button">Yes</button>
        <button class="dialog__no" type="button">No</button>
      </div>
    </div>
    <script>
      window.homePath = "{% url 'calls:home' %}";
      window.callOffersWebSocket = new WebSocket(`ws://${location.host}/call-offers/`);
    </script>
  </body>
</html>
