<header class="header">
  <div class="header__container container">
    <nav class="header__navigation">
      <ul class="header__links">
      {% for link in links_for_all %}
        <li class="header__link-container">
          <a
            class="header__link{% if current_path == link.url %} header__link--active{% endif %}"
            href="{{ link.url }}"
          >
            {{ link.text }}
          </a>
        </li>
      {% endfor %}
      {% if is_auth %}
      {% for link in links_for_auth %}
        <li class="header__link-container">
          <a
            class="header__link{% if current_path == link.url %} header__link--active{% endif %}"
            href="{{ link.url }}"
          >
            {{ link.text }}
          </a>
        </li>
      {% endfor %}
      {% endif %}
      </ul>
    </nav>
    <div class="header__auth">
    {% if is_auth %}
      <form class="header__log-out" action="{% url 'auth:log_out' %}" method="post">
        {% csrf_token %}
        <button class="header__link" type="submit">Log out</button>
      </form>
    {% else %}
      <div class="header__entry-links">
        <a class="header__link" href="{% url 'auth:log_in' %}">Log in</a>
        <a class="header__link" href="{% url 'auth:registration' %}">Registrate</a>
      </div>
    {% endif %}
    </div>
  </div>
</header>
