{% extends "base.html" %}
{% load static %}

{% block head %}
<script src="{% static 'calls/js/call_rooms.js' %}" defer></script>
{% endblock head %}

{% block content %}
<h1>Call room</h1>
<div class="video">
  <video class="video__current-user" autoplay playsinline></video>
  <video class="video__another-user" autoplay playsinline></video>
</div>
<div class="call-controls">
  <button class="call-controls__close" type="button">Close</button>
  <button class="call-controls__mute" type="button">Mute</button>
  <button class="call-controls__hide" type="button">Hide video</button>
</div>
{% endblock content %}
