{% extends "calls/base.html" %}


{% block content %}
<h1>Your calls</h1>
{% if calls %}
<ul class="calls-history">
{% for call in calls %}
  <li class="calls-history__item">
    <p><span class="bold-text">Caller:</span> {{ call.caller.full_name }}</p>
    <p><span class="bold-text">Receiver:</span> {{ call.receiver.full_name }}</p>
    <p><span class="bold-text">Start time:</span> {{ call.start }}</p>
    <p><span class="bold-text">Duration</span> {{ call.duration }}</p>
  </li>
{% endfor %}
</ul>
{% else %}
<p>Not have any calls</p>
{% endif %}
{% endblock content %}
