{% extends "calls/base.html" %}
{% load static %}

{% block head %}
<script src="{% static 'calls/js/online_subscribers.js' %}" defer></script>
{% endblock head %}

{% block content %}
<h1>All subscribers</h1>
<div class="subscribers">
  {% if user.is_authenticated %}
  {% if subscribers %}
  <ul class="subscribers__list">
  {% if subscribers|length > 1 %}
  {% for subscriber in subscribers %}
  {% with current_user=subscriber operators=subscriber.operators.all %}
  {% if user.id != current_user.id %}
    <li
      class="subscribers__item"
      data-subscriber-id="{{ current_user.id }}"
      data-is-online="false"
      data-operators="[{{ operators|join:"," }}]"
      data-subscriber-full-name="{{ current_user.full_name }}"
    >
      <p class="subscribers__online bold-text">Offline</p>
      <h2><span class="bold-text">Full name:</span> {{ current_user.full_name }}</h2>
      <p><span class="bold-text">Username:</span> {{ current_user.username }}</p>
      {% if operators %}
      <p class="bold-text">Operators:</p>
      <ul class="subscribers__operators">
      {% for operator in subscriber.operators.all %}
        <li class="subscribers__operator">{{ operator.title }}</li>
      {% endfor %}
      </ul>
      {% else %}
      <p class="bold-text">Don't exist any operators</p>
      {% endif %}
      <button class="subscribers__call-button button" type="button" disabled>Call this user</button>
    </li>
  {% endif %}
  {% endwith %}
  {% endfor %}
  {% else %}
  <p>There aren't users</p>
  {% endif %}
  </ul>
  {% else %}
  <p class="subscribers__no-subscribers">Don't exist any subscribers</p>
  {% endif %}
  {% else %}
  <p class="subscribers__not-auth">You should login to the account!</p>
  {% endif %}
</div>
{% endblock content %}
