@use './variables'as vars;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: vars.$main-text-color;
  font-family: Arial, Helvetica, sans-serif;

  background-color: vars.$main-bg-color;

  margin: 0;
}

button {
  cursor: pointer;

  &[disabled] {
    cursor: not-allowed;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.bold-text {
  font-weight: 700;
  font-size: 18px;
}

.button {
  color: vars.$main-text-color;
  font-size: 16px;
  text-decoration: none;

  background-color: darken(vars.$active-color, 25%);
  border-radius: 15px;
  transition: opacity 250ms;

  padding: 5px 10px;
  border: none;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.4;
  }

  &[disabled] {
    background-color: #9f9f9f;
    opacity: 0.5;

    &:hover,
    &:active {
      opacity: 0.5;
    }
  }
}
