@use '../variables' as vars;

.calls-history {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;

  list-style: none;
  padding: 0;
  margin: 0;
}

.calls-history__item {
  background-color: vars.$extra-bg-color;
  border-radius: 20px;

  padding: 20px;
}
