@use '../variables' as vars;

.subscribers__online {
  position: relative;

  display: inline-block;
}

.subscribers__online::before,
.subscribers__online::after {
  position: absolute;
  top: 0;
  left: 110%;
  width: 15px;
  height: 15px;
}

.subscribers__online::before {
  display: none;

  content: "✅";
}

.subscribers__online::after {
  content: "⛔️";
}

.subscribers__item--active {
  & .subscribers__online {
    &::before {
      display: block;
    }

    &::after {
      display: none;
    }
  }
}

.subscribers__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  gap: 20px;

  list-style: none;
  padding: 0;
  margin: 0;
}

.subscribers__item {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px 0;

  border-radius: 20px;
  background-color: vars.$extra-bg-color;

  padding: 20px;
}

.subscribers__operators {
  padding-left: 30px;

  counter-reset: count 0;
}

.subscribers__operator {
  counter-increment: count 1;

  &::marker {
    content: counter(count, decimal) ") ";
  }
}

.subscribers__item p,
.subscribers__item h2,
.subscribers__property {
  margin: 0;
}

.subscribers__item h2 {
  font-size: 16px;
  font-weight: 400;
}

.subscribers__call-button {
  margin-top: auto;
}
