@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #e9e9e9;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #272727;
  margin: 0;
}

button {
  cursor: pointer;
}

button[disabled] {
  cursor: not-allowed;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.bold-text {
  font-weight: 700;
  font-size: 18px;
}

.button {
  color: #e9e9e9;
  font-size: 16px;
  text-decoration: none;
  background-color: #8e1212;
  border-radius: 15px;
  transition: opacity 250ms;
  padding: 5px 10px;
  border: none;
}
.button:hover {
  opacity: 0.7;
}
.button:active {
  opacity: 0.4;
}
.button[disabled] {
  background-color: #9f9f9f;
  opacity: 0.5;
}
.button[disabled]:hover, .button[disabled]:active {
  opacity: 0.5;
}

.header {
  background-color: #171717;
  padding: 20px 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__links {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__link {
  color: #e9e9e9;
  text-decoration: none;
  font-size: 16px;
  border: none;
  background-color: inherit;
  transition: opacity 150ms;
  padding: 10px 5px;
}
.header__link--active {
  color: #e63a3a;
}
.header__link:hover {
  opacity: 0.7;
}
.header__link:active {
  opacity: 0.4;
}

.subscribers__online {
  position: relative;
  display: inline-block;
}

.subscribers__online::before,
.subscribers__online::after {
  position: absolute;
  top: 0;
  left: 110%;
  width: 15px;
  height: 15px;
}

.subscribers__online::before {
  display: none;
  content: "✅";
}

.subscribers__online::after {
  content: "⛔️";
}

.subscribers__item--active .subscribers__online::before {
  display: block;
}
.subscribers__item--active .subscribers__online::after {
  display: none;
}

.subscribers__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.subscribers__item {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px 0;
  border-radius: 20px;
  background-color: #171717;
  padding: 20px;
}

.subscribers__operators {
  padding-left: 30px;
  counter-reset: count 0;
}

.subscribers__operator {
  counter-increment: count 1;
}
.subscribers__operator::marker {
  content: counter(count, decimal) ") ";
}

.subscribers__item p,
.subscribers__item h2,
.subscribers__property {
  margin: 0;
}

.subscribers__item h2 {
  font-size: 16px;
  font-weight: 400;
}

.subscribers__call-button {
  margin-top: auto;
}

.notify {
  position: absolute;
  top: 80px;
  right: 40px;
  z-index: -1;
  background-color: #8787e2;
  color: #ffffff;
  border-radius: 20px;
  opacity: 0;
  transition: opacity 200ms;
  text-align: center;
  border: 2px solid #000000;
  padding: 20px 40px;
  min-width: 250px;
}
.notify--active {
  z-index: 1;
  opacity: 1;
}

.dialog {
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: -1;
  background-color: #55eb80;
  color: #000000;
  border-radius: 20px;
  opacity: 0;
  transition: opacity 200ms;
  text-align: center;
  border: 2px solid #000000;
  padding: 20px 40px;
  min-width: 250px;
}
.dialog--active {
  z-index: 1;
  opacity: 1;
}

.choosing fieldset {
  border-radius: 20px;
  max-width: 500px;
}

.choosing__button {
  margin-top: 20px;
}

.calls-history {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.calls-history__item {
  background-color: #171717;
  border-radius: 20px;
  padding: 20px;
}

.video {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}
.video video {
  background-color: #171717;
  width: 500px;
  height: 500px;
}
@media (max-width: 500px) {
  .video video {
    width: 100%;
  }
}

.call-controls {
  display: flex;
  gap: 10px;
}

/*# sourceMappingURL=styles.css.map */
